/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-jc7hx8w1po] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

.border-top[b-jc7hx8w1po] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-jc7hx8w1po] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-jc7hx8w1po] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-jc7hx8w1po] {
  font-size: 1rem;
  line-height: inherit;
}