:root {
    --primary-color: #008037;
    --secondary-color: #ff914d;
    --dark-color: #292929;
    --white-color: #e7e7e7;
}

html {
    font-size: 1rem
}

.logoFont {
    font-family: 'Quintessential', cursive; /* from Google fonts */
}

body {
    color: var(--dark-color);
}

/* Override bootstrap styling with an id. 
    Every selector has a 'numerical weight.'
    an id = 100 points which should be enough.
*/
#navLink {
    color: var(--white-color);
}

#logo, #logo:link, #logo:visited, #logo:hover {
    color: var(--white-color);
}

.nav-link:link, .nav-link:visited {
    color: var(--white-color);
}

.nav-link:hover {
    opacity: .75;
}

footer, header {
    background-color: var(--primary-color);
    color: var(--white-color);
}

footer {
    line-height: 60px;
}

/*footer .social > a {
    color: var(--white-color);
    opacity: .75;
}

footer .social > a:hover {
    opacity: .9;
    color: var(--secondary-color);
}*/

.checklist > li i {
    color: var(--secondary-color)
}

code[class*="language-"],
pre[class*="language-"] {
    white-space: pre-wrap;
    word-break: break-all;
    word-wrap: break-word;
}

.bsicon, .jsicon, .html5icon, .cssicon { font-size: 4rem; }
.bsicon { color: purple }
.jsicon { color: rgb(226,211,4) }
.html5icon { color: orangered }
.cssicon { color: rgb(11,82,214) }

h1, h2, h3, h4, h5, h6 { color: var(--dark-color); }

.sticky-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

/* LOAN FORM STYLES */
.loanForm {
    background-color: rgb(231,231,231);
}

.loanForm input {
    width: 100%;
    padding: .5rem;
}

.loanForm button {
    float: right;
}

#paymentTitle {
    text-align: center;
    font-size: 1.5rem;
    font-style: italic;
}

#payment {
    text-align: center;
    font-size: 4rem;
    font-weight: bold;
    color: #2B404F;
}

#loanBreakdown {
    text-align: center;
}

#tableHeader {
    background-color: #2B404F;
}

#totalCost {
    font-weight: bold;
}

#btnCalc:hover {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.link-light:hover {
    opacity: .75;
}

/* ~-~-~-~-~-~- Breakpoint Adjustments ~-~-~-~-~-~- */

@media only screen and (min-width: 575px) {
    footer {
        font-size: .8rem;
    }
}

@media only screen and (min-width: 776px) {
    .bsicon, .jsicon, .html5icon, .cssicon {
        font-size: 5rem;
    }
}

@media only screen and (min-width: 991px) {
    footer {
        font-size: 1rem;
    }

    .bsicon, .jsicon, .html5icon, .cssicon {
        font-size: 6rem;
    }
}

/*
  FOR ROTATED MOBILE SCREENS
*/
@media only screen and (max-height: 400px) {
    html {
        font-size: .8rem;
        text-align: center;
    }

    div.container {
        margin-bottom: 0;
        padding-bottom: 0
    }

    .checklist {
        display: flex;
        margin-left: 1.9rem;
        overflow: hidden;
    }

    .checklist > li {
        padding: .7em 2.5em .5em 0;
    }

    #appBtn {
        display: flex;
        justify-content: center;
        margin: 1em 0 2em;
    }

    #appBtn > a {
        width: 9em;
        padding: 1rem;
    }

    #logoCol {
        margin-top: 3%
    }

    #img-logo {
        max-width: 50%
    }

    #iconRow {
        display: flex;
        justify-content: center;
    }

    #iconRow > * {
        max-width: 9em;
    }

    .bsicon, .jsicon, .html5icon, .cssicon {
        font-size: 4rem;
    }
}